backend/.vs/InventoryManagement/FileContentIndex/57a966f2-59ea-4e89-a72f-eeb1ab9c5576.vsidx
backend/.vs/InventoryManagement/v17/.suo
backend/.vs/InventoryManagement/v17/DocumentLayout.json
backend/.vs/ProjectEvaluation/inventorymanagement.metadata.v9.bin
backend/.vs/ProjectEvaluation/inventorymanagement.projects.v9.bin
backend/.vs/ProjectEvaluation/inventorymanagement.strings.v9.bin
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.AssemblyInfo.cs
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.AssemblyInfoInputs.cache
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.assets.cache
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.GeneratedMSBuildEditorConfig.editorconfig
backend/InventoryManagement/obj/Debug/net8.0/rpswa.dswa.cache.json
backend/InventoryManagement/obj/InventoryManagement.csproj.nuget.dgspec.json
backend/InventoryManagement/obj/InventoryManagement.csproj.nuget.g.props
backend/InventoryManagement/obj/project.assets.json
backend/InventoryManagement/obj/project.nuget.cache
backend/.vs/InventoryManagement/FileContentIndex/06e04dc2-6df3-47e7-8e31-bc3f2d1cdfdb.vsidx
backend/.vs/InventoryManagement/FileContentIndex/57a966f2-59ea-4e89-a72f-eeb1ab9c5576.vsidx
backend/.vs/InventoryManagement/FileContentIndex/f59afd37-2567-4baa-a14c-d7ac0283eb82.vsidx
backend/.vs/InventoryManagement/v17/.suo
backend/.vs/InventoryManagement/v17/DocumentLayout.json
backend/.vs/ProjectEvaluation/inventorymanagement.metadata.v9.bin
backend/.vs/ProjectEvaluation/inventorymanagement.projects.v9.bin
backend/.vs/ProjectEvaluation/inventorymanagement.strings.v9.bin
backend/InventoryManagement/bin/Debug/net8.0/InventoryManagement.dll
backend/InventoryManagement/bin/Debug/net8.0/InventoryManagement.exe
backend/InventoryManagement/bin/Debug/net8.0/InventoryManagement.pdb
backend/InventoryManagement/obj/Debug/net8.0/ApiEndpoints.json
backend/InventoryManagement/obj/Debug/net8.0/apphost.exe
backend/InventoryManagement/obj/Debug/net8.0/EndpointInfo/InventoryManagement.json
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.AssemblyInfo.cs
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.AssemblyInfoInputs.cache
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.assets.cache
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.csproj.CoreCompileInputs.cache
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.csproj.FileListAbsolute.txt
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.dll
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.GeneratedMSBuildEditorConfig.editorconfig
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.genruntimeconfig.cache
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.pdb
backend/InventoryManagement/obj/Debug/net8.0/InventoryManagement.sourcelink.json
backend/InventoryManagement/obj/Debug/net8.0/ref/InventoryManagement.dll
backend/InventoryManagement/obj/Debug/net8.0/refint/InventoryManagement.dll
backend/InventoryManagement/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
backend/InventoryManagement/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
backend/InventoryManagement/obj/Debug/net8.0/rpswa.dswa.cache.json
backend/InventoryManagement/obj/InventoryManagement.csproj.nuget.dgspec.json
backend/InventoryManagement/obj/InventoryManagement.csproj.nuget.g.props
backend/InventoryManagement/obj/project.assets.json
backend/InventoryManagement/obj/project.nuget.cache
